name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Rust Version
      run: rustc --version

    - name: Rustup Update
      run: rustup update

    - name: Updated Rust Version
      run: rustc --version

    - name: Cache Cargo
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

    - name: Check fmt
      run: cargo fmt --check

    - name: Clippy
      run: cargo clippy --no-deps -- -D warnings

    - name: Build
      run: cargo build
